.flex-container {
  background-color: rgb(175, 175, 175);
  padding: 25px;
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.flex-container .post {
  /* margin: 0 15px; */
  /* flex-basis: 30%; */
  width: 200px;
}

.post {
  background-color: rgb(226, 226, 226);
  padding: 10px;
  border-radius: 7px;
}

.inline-block-container {
  background-color: rgb(245, 68, 141);
  padding: 25px;
}

.inline-block-container .post {
  display: inline-block;
  width: 28%;
  margin: 0 15px;
}
