.flex-container {
  background-color: rgb(175, 175, 175);
  padding: 25px;
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: center;
  /* align-items: flex-start;
  align-items: flex-end;
  align-items: center;
  align-items: baseline; */
  align-items: stretch;
  /* flex-wrap: wrap; */
}

.flex-container .post {
  /* margin: 0 15px; */
  flex-basis: 33%;
  /* width: 200px; */
  /* flex-grow: 1; */
}

.flex-container .post-2 {
  flex-grow: 1;
  /* flex-basis: 50%; */
}

.flex-container .post-3 {
  /* individualus issidestymas statmena asimi */
  /* align-self: flex-end; */
  flex-basis: 15%;
  /* flex-grow: 1; */
}

.post {
  background-color: rgb(226, 226, 226);
  padding: 10px;
  border-radius: 7px;
}

.inline-block-container {
  background-color: rgb(245, 68, 141);
  padding: 25px;
}

.inline-block-container .post {
  display: inline-block;
  width: 28%;
  margin: 0 15px;
}
