.flex-container {
  background-color: rgb(175, 175, 175);
  padding: 25px;
}

.post {
  background-color: rgb(226, 226, 226);
  padding: 10px;
  border-radius: 7px;
}

.inline-block-container {
  background-color: rgb(245, 68, 141);
  padding: 25px;
}

.inline-block-container .post {
  display: inline-block;
  width: 32.8%;
}
